{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<body>
    <div class="chatbot-container">
        <div class="chat-header">
            <h2>Learning Assistant</h2>
        </div>
        <div class="chat-content">
            {% for user_input, bot_response in message %}
                <div class="chat-bubble user">
                    <p>{{ user_input }}</p>
                </div>
                <div class="chat-bubble bot">
                    <p>{{ bot_response }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="chat-input">
            <form method="POST" action="/chatbot">
                <input type="text" name="textbox" placeholder="Please type in your question">
                <div class="chat-buttons">
                    <button type="button" class="btn back">Back</button>
                    <button type="submit" class="btn new">Send</button>
                    <button type="button" class="btn help">Help</button>
                </div>
            </form>
        </div>
    </div>
<script>
    document.getElementById("current_date").innerHTML = Date();
</script>
</body>
</html>


{% endblock %}