{% extends "base.html" %}

{% block content %}
<div>
    <h1><b>Learning Assistant</b></h1>
    <div class="boxed">
        <div>
            <div id="chatbox">
                <p class="botText">
                    <span>Hi! What is your question about the examination topic?</span>
                </p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message" />
            </div>
        </div>
        <script>
            function getBotResponse() {
                var rawText = $("#textInput").val();
                var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
                $.get("/get", { msg: rawText }).done(function (data) {
                    var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                    $("#chatbox").append(botHtml);
                    document
                        .getElementById("userInput")
                        .scrollIntoView({ block: "start", behavior: "smooth" });
                });
            }
            $("#textInput").keypress(function (e) {
                if (e.which == 13) {
                    getBotResponse();
                }
            });
        </script>
    </div>
</div>
{% endblock %}